.resume {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $bg-lightmode-aboutme-color;
    z-index: 1;
    &__img {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        z-index: 2;
        img {
            height: 80vh;
        }
    }
    &__quote {
        position: absolute;
    }
    &__title {
        text-align: center;
        position: relative;
        @include before_circle;
        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
        margin-top: 6px;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }

    &__column {
        &-title {
            padding-left: 35px;
            position: relative;
            &:before {
                content: '';
                width: 15px;
                height: 15px;
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                background: $lightmode-text-color;
                border-radius: 100%;
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: $lightmode-text-color;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            height: 1px;
            width: 43px;
            position: absolute;
            background-color: $lightmode-text-color;
            top: 49px;
        }
        &-head {
            position: relative;
            padding: 25px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            top: 30px;
            left: 45px;
            img {
                position: absolute;
                left: 17px;
                top: 14px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
        }

    }
}